DJANGO_SECRET_KEY=change_for_safety_key_here
DJANGO_DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,web

POSTGRES_DB=team_finder
POSTGRES_USER=team_finder
POSTGRES_PASSWORD=team_finder
POSTGRES_HOST=db
POSTGRES_PORT=5432